.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.list-group {
  margin-top: 40%;
  background-color: purple;
}

.MuiPaper-root-2 {
  max-width: 400;
  /* margin-top: 40%; */
}
.media {
  height: 0;
  padding-top: 56.25%;
}

.actions {
  display: flex;
}

.expand {
  /* rotate:rotate(0deg); */
  margin-left: auto;
  /* transition: theme.transitions.create('transform', {
      duration: theme.transitions.duration.shortest,
    } */

  /* expandOpen {
    transform: rotate(180deg);
  } */
}
